<script src="js/utils.js"></script>
<div id="container">
  <h2>Edit</h2>
  <form action="/edit" method="POST">
    <label for="f_id">ID:</label>
    <input type="text" id="f_id" name="id" value="{{paper.id}}" readonly>

    <label for="f_paper_id">Paper ID:</label>
    <input type="text" id="f_paper_id" name="paper_id" value="{{paper.paper_id}}">
    <label for="f_title">Title</label>
    <input type="text" id="f_title" name="title" value="{{paper.title}}">

    <label for="f_summary">Summary</label>
    <textarea id="f_summary" name="summary" rows="10" cols="50">
      {{paper.summary}}
    </textarea>

    <label for="f_url">URL</label>
    <input type="text" id="f_url" name="url" value="{{paper.url}}">
    <label for="f_code">Code</label>
    <input type="text" id="f_code" name="code" value="{{paper.code}}">
    <input type="submit" value="Submit" class="submit">
  </form>
</div>

